body {
  background-color: #1b1b1b;
  margin: 2rem;
}

.grid-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.grid-inputs input,label {
  text-align: center;
  font-size: 3rem;
}

.grid-inputs input[type='button'] {
  transform: translateX(50%);
  background-color: #777777;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

label#result {
  color: #333;
  background-color: yellow;
  font-size: 3rem;
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}